.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-card {
    padding: 3% 12% 3% 12%;
  }

.example-button-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-raised-button{
    margin-top: 3%;
    width : 60%
}

.mat-form-width{
  width: 70%;
}

.center-align{
  display: flex;
  justify-content: center;
  align-items: center;
}

